<section class="banner">
  <div class="inner">
    <div class="banner_card">
      <!-- Banner first -->
      <a class="banner_first" href="#none">
        <div class="banner_content">
          <h3 class="banner_title">Living Room</h3>
          <div class="banner_link">Shop Now</div>
        </div>
        <div class="banner_img">
          <img class="img_banner" src="/src/img/banner_img_1.png" alt="banner 1">
          <img class="img_banner_mobile" src="/src/img/banner_img_1_mobile.png" alt="banner mobile">
        </div>
      </a>
      <!-- // Banner first -->
      <!-- Banner last -->
      <div class="banner_last">
        <a class="banner_last_item" href="#none">
          <div class="banner_content">
            <h3 class="banner_title">Bedroom</h3>
            <div class="banner_link">Shop Now</div>
          </div>
          <div class="banner_img">
            <img class="img_banner" src="/src/img/banner_img_2.png" alt="banner 2">
            <img class="img_banner_mobile" src="/src/img/banner_img_2_mobile.png" alt="banner mobile">
          </div>
        </a>
        <a class="banner_last_item" href="#none">
          <div class="banner_content">
            <h3 class="banner_title">Kitchen</h3>
            <div class="banner_link">Shop Now</div>
          </div>
          <div class="banner_img">
            <img class="img_banner" src="/src/img/banner_img_3.png" alt="banner 3">
            <img class="img_banner_mobile" src="/src/img/banner_img_3_mobile.png" alt="banner mobile">
          </div>
        </a>
      </div>
      <!-- // Banner last -->
    </div>
  </div>
</section>