<section class="slide_bar">
  <div class="inner">
    <!-- Swiper -->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img class="swiper_img" src="/src/img/palaholder_img.png" alt="slide1" />
          <img class="swiper_img_mobile" src="/src/img/palaholder_img_mobile.png" alt="slide1" />
        </div>
        <div class="swiper-slide">
          <img class="swiper_img" src="/src/img/palaholder_img.png" alt="slide2" />
          <img class="swiper_img_mobile" src="/src/img/palaholder_img_mobile.png" alt="slide2" />
        </div>
        <div class="swiper-slide">
          <img class="swiper_img" src="/src/img/palaholder_img.png" alt="slide3" />
          <img class="swiper_img_mobile" src="/src/img/palaholder_img_mobile.png" alt="slide3" />
        </div>
      </div>
      <!-- Navigation -->
      <button class="swiper-button-prev"></button>
      <button class="swiper-button-next"></button>
      <!-- Pagination -->
      <div class="swiper-pagination"></div>
    </div>
    <!-- // Swiper -->
    <!-- Introduction -->
    <div class="introduction">
      <h2 class="simply_text">Simply Unique<span class="dot">/</span>Simply Better<span class="dot">.</span></h2>
      <p class="introduction_text">
        <strong>3legant</strong>
        is a gift & decorations store based in HCMC, Vietnam. Est since 2019.
      </p>
    </div>
    <!-- // Introduction -->
  </div>
</section>